body{
    background-color: rgb(21, 65, 100);
    color: white;
    padding: 2rem;
    margin: 0rem;
}
input{
    height: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    border-style: solid;
}

button{
    background-color: greenyellow;
    height: 2rem;
    border-width: 0.2rem;
    border-color: white;
    border-style: ridge;
    border-radius: 0.4rem;
}

div{
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
   
}

#details{
    background-color:rgba(108, 148, 16, 0.979);

    padding-right:2rem ;
    border-top-left-radius: 5rem;
}
a{
    color: aqua;

}

footer{
    text-align: center;
}